<div class="footer">
  <div class="footer-links">

    <a href="https://github.com/jcllobet/learning_platform"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/cocacola/"><i class="fa fa-instagram"></i></a>

    <a href="https://www.facebook.com/pages/Coca-Cola-Espa%C3%B1a/1393245584230208"><i class="fa fa-facebook"></i></a>

    <a href="https://twitter.com/cocacolaco_es/status/1052827190851715073"><i class="fa fa-twitter"></i></a>

    <a href="https://www.linkedin.com/company/the-coca-cola-company/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>
