<div class="homepage-banner">
  <div class ="container">
    <h2 class="features__heading"> Preparate para la 4ta revoluci칩n industrial</h2>
      <p class="features__text"> Aprendre sobre las nuevas 치reas de conocimiento mediante un curso pr치ctico ense침ado por las mejores empresas del sector. </p>
        <% if current_user %>
          <%= link_to "Empieza el Reto", goals_path, class: "btn btn-homepage bolder" %>
        <% else %>
          <%= link_to "Empieza el Reto", new_user_registration_path, class: "btn btn-homepage bolder" %>
        <% end %>
  </div>
</div>

