<div class="pricing">

  <div class="promo text-center xs-padding">
    <div class="deal">
      <span>Beca</span>
      <span>Fomentando la excelencia</span>
    </div>
    <span class="price">Gratis*</span>
    <ul class="features text-grey" >
      <li>Media > 8.0</li>
      <li>Plazas limitadas</li>
      <li>A criterio de la empresa</li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-secondary goal-add__dashboard-btn" %>
  </div>

  <div class="promo scale text-center xs-padding">
    <div class="deal">
      <span>Asignatura de grado</span>
      <span>Convalidados 4,5 ECTS</span>
    </div>
    <span class="price">Desde 70€/crédito</span>
    <ul class="features">
      <li>Medible</li>
      <li>Acionable</li>
      <li>Simple</li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-primary btn-md goal-add__dashboard-btn" %>
  </div>


  <div class="promo text-center xs-padding">
    <div class="deal">
      <span>Off-track</span>
      <span>Formate para el futuro con los mejores</span>
    </div>
    <span class="price">500€ / curso </span>
    <ul class="features text-grey">
      <li>Ideal si no puedes convalidar</li>
      <li>Con salida profesional</li>
      <li>Preparado por y para profesionales</li>
    </ul>
    <%= link_to "Start", goals_path, class: "btn-secondary goal-add__dashboard-btn" %>
  </div>
</div>
