<div class="container">
  <div class="dashboard-container">
    <div class="dashboard-row">
      <div class="dashboard-top-text">
        <div class="dashboard__h3 text-center ">
          Gestiona tus asignaturas
        </div>
      </div>
      <div class="dashboard-links">
        <%= link_to "Sugiere una nueva asignatura", new_goal_path, class: "btn btn-orange dashboard__btn-side-margin" %>
      </div>
      <div class="dashboard__cards-wrapper lg-padding">
        <div class="row">
          <% if current_user.goals.any? %>
            <%= render 'shared/my-goal-card' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
